/* -------------------------------------------------------
  Animations
------------------------------------------------------- */

.view-animate {
  position: fixed;
  overflow: auto;
  width: 100%;
  height: 100%;
}

.view-animate.ng-enter {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  -webkit-animation: enter .4s;
  animation: enter .4s;
}
.view-animate.ng-leave {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  -webkit-animation: leave .4s;
  animation: leave .4s;
}
.view-animate.ng-enter.go-back {
  -webkit-animation: back .4s;
  animation: back .4s;
}
.page-main.ng-enter {
  animation: none;
}

@-webkit-keyframes enter {
  from {
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
  }
  to {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
}
@-webkit-keyframes leave {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes back {
  from {
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
  }
  to {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
}