$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

// Imports
@import "animations";

$primary-color-light: #27A8E0;
$primary-color-dark : darken($primary-color-light, 10%);
$highlight-color: #FFCC00;

/*---------------------------------------------*/
/*  ICONS
/*---------------------------------------------*/

@font-face {
    font-family:'icomoon';
    src:url("./../fonts/icomoon.eot");
    src:url("./../fonts/icomoon.eot?#iefix") format("embedded-opentype"),
    url("./../fonts/icomoon.woff") format("woff"),
    url("./../fonts/icomoon.ttf") format("truetype"),
    url("./../fonts/icomoon.svg#icomoon") format("svg");
    font-weight:normal;font-style:normal;
}

.icon {
  font-family: 'icomoon';
}

.icon-checkmark::before {
  content: "\ea10";
}

.icon-cross::before {
  content: "\ea0f";
}
.icon-share::before {
  content: "\ea82"
}

/*---------------------------------------------*/
/*  GENERAL STYLES
/*---------------------------------------------*/

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  height: 100%;
  font-family: "franklin-gothic-urw", Helvetica, Arial, sans-serif;
  background-image: url(./../images/light-toast.png);
}

#decorator {
  height: 20px;
  width: 100%;
  position: fixed;
  bottom: 0;
  background: url(./../images/color-bg.jpg) center top repeat-x;
}

.page-wrapper {
  padding-top: 50px;
  height: 100%;
  background-image: url(./../images/light-toast.png);
}

/*---------------------------------------------*/
/*  TOP BAR
/*---------------------------------------------*/

.navbar-default {
  background-color: $primary-color-light;
  border-bottom: 3px solid darken($primary-color-light, 10%);

  .navbar-header {
    background-color: $primary-color-light;

    @media  (min-width: 768px) {
      float: none;
    }
  }

  .navbar-brand {
    text-transform: uppercase;
    color: #fff;
    position: absolute;

    &:hover {
      color: #FFCC00;
    }
  }

  .navbar-title {
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;

    @media  (min-width: 768px) {
      float: none;
    }
  }
}

.logo-container {
  margin-top: 80px;
  margin-bottom: 40px;
}

.sponsor {
  margin-bottom: 20px;
}

.social-login{ margin-bottom: 40px;}

.option-btn {
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  display: block;
  width: 250px;
  margin: 15px auto;
  background-color: #5d5d5d;
  color: #fff;
  border: 0;
  padding-top: 15px;
  border-radius: 100px;
  padding-bottom: 15px;
  background-repeat: no-repeat;
  background-position: 20px center;
  background-size: 24px auto;
  cursor: pointer;

  &:hover, &:focus {
    text-decoration: none;
    color: #fff;
  }

  &:focus, &:active {
    outline: none;
  }

  &.login-fb {
    background-image: url(./../images/icon-facebook.png);
    background-color: #3b5998;

    &:hover {
      background-color: #223865;
    }
  }

  &.login-tw {
    background-image: url(./../images/icon-twitter.png);
    background-color: #55acee;

    &:hover {
      background-color: #4591cb;
    }
  }

  &.menu-btn {
    border-bottom: 3px solid darken($primary-color-light, 10%);
    background-color: $primary-color-light;
    margin-bottom: 15px;
    margin-top: 15px;
    width: 100%;

    &:hover {
      background-color: darken($primary-color-light, 10%);
      border-bottom: 3px solid darken($primary-color-light, 20%);
    }
  }
}


/*---------------------------------------------*/
/*  MENU PAGE
/*---------------------------------------------*/

.content-card {
  background-color: #fff;
  box-shadow: 0 3px 1px rgba(185, 185, 185, 0.4);
  padding: 20px;
  margin-left: 0;
  margin-right: 0;  
}

.profile-card {
  margin-bottom: 15px;
  margin-top: 15px;

  @media (min-width: 768px) {
    margin-top: 60px;
  }
  
  .user-avatar-wrapper {
    padding-left: 0;
    padding-right: 0;
  }

  .user-avatar {
    border-radius: 50%;

    img {
      border-radius: 50%;
      max-width: 100%;
    }
  }
  
  .user-info-wrapper {
    padding-right: 0;
  }

  .user-info {

    .user-name {
      margin-bottom: 0;
      color: #FFCC00;
      text-shadow: 0 2px 0 darken(#FFCC00, 15%);
    }
    .user-username {
      margin-top: 0;
      color: #1E3464;
    }
    .user-location {
      font-size: 13px;
      font-weight: normal;
      margin-top: 0;
      margin-bottom: 0;
      text-decoration: dotted 1px #ededed;

      span {
        border-bottom: 1px dotted #c5c5c5;
      }
    }
  }
}

.share-app {
  color: $primary-color-dark;
  border-radius: 50px;
  padding-top: 12px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  border: 2px solid $primary-color-dark;
  background: transparent;;
  padding-bottom: 12px;

}

/*---------------------------------------------*/
/*  SPEAK UP PAGE
/*---------------------------------------------*/

.navbar-default .navbar-brand {
  position: absolute;
}
.country-card {
  margin-bottom: 10px;
  margin-top: 10px;

  .country-meta-info {
    padding-left: 0;

    .country-name {
      margin-bottom: 0;
      color: #27A8E0;
    }
  }
  .country-meta-org {
    padding: 0;
    
    .org-name {
      text-transform: uppercase;
      font-weight: 400;
    }
    .phone-number {
      font-size: 17px;
      margin-bottom: 0;
      font-weight: 400;
    }
  }
}
.phone-directory {
  width: 100%;
  border-top: 1px dotted #a8a8a8;
  margin-top: 20px;

  .country-item {
    border-bottom: 1px dotted #a8a8a8;

    .country-info {
      width: 100%;
    }

    td {
      font-size: 16px;
    }

    .country-flag {
      padding-top: 10px;
      width: 10%;

      img {
        max-width: 20px;
      }
    }

    .country-name {
      padding-top: 10px;
    }

    .phone-number {
      width: 35%;
      text-align: right;
      padding-top: 10px;
      font-size: 14px;
    }

    .organization-name {
      font-size: 13px;
      padding-bottom: 10px;
      color: #5c5c5c;
    }
  }
}

/*---------------------------------------------*/
/*  TRIVIA HOME
/*---------------------------------------------*/

.trivia-level-card {
  margin-bottom: 15px;
  margin-top: 15px;
  background-repeat: no-repeat;
  background-position: 5px 5px;
  min-height: 120px;
  position: relative;
  border-right: 10px solid #333;

  @media (min-width: 768px) {
    min-height: 150px;
  }

  .trivia-level-title {
    padding-right: 0;

    h4 {
      text-align: right;
      color: #1b89b9;
      font-weight: bold;
      font-size: 14px;
      text-transform: uppercase;

      @media (min-width: 768px) {
        font-size: 21px;
      }
    }
  }
}

.trivia-card-level-1 {
  background-image: url(./../images/kid-01.png);
  border-right-color: #3954a5;
}

.trivia-card-level-2 {
  background-image: url(./../images/kid-02.png);
  border-right-color: #f79422;
}

.trivia-card-level-3 {
  background-image: url(./../images/kid-03.png);
  border-right-color: #8dc641;
}

.trivia-card-level-4 {
  background-image: url(./../images/kid-04.png);
  border-right-color: #b9529f;
}

.trivia-card-level-5 {
  background-image: url(./../images/kid-05.png);
  border-right-color: #ec2028;
}

/*---------------------------------------------*/
/*  TRIVIA PAGE
/*---------------------------------------------*/
.trivia-card {
  cursor: pointer;

  .trivia-btn {
    margin: 0;
    position: absolute;
    right: 20px;
    bottom: 20px;
    padding: 0 20px;
    color: #fff;
    border-radius: 50px;
    border-bottom: 2px solid darken(#5d5d5d, 10%);
    background-color: #5d5d5d;

    @media (min-width: 768px) {
      font-size: 18px;
    }
  }

  .go-to-trivia-page {
    border-bottom: 2px solid darken(#fc0, 10%);
    background-color: #fc0;
  }
}

.question-container {
  margin-bottom: 20px;
  font-family: "proxima-nova";
  position: relative;

  .trivia-question-card {
    margin-top: 15px;
    margin-bottom: 30px;
    border-bottom: 5px solid;
    border-radius: 5px;
    
    h2 {
      color: #fff;
      font-weight: normal;
    }

    @media (min-width: 768px) {
      border-bottom-width: 10px;
    }    
  }

  .trivia-question-card-1 {
    background-color: #3954a5;
    border-bottom-color: darken(#3954a5,10%);
  }
  .trivia-question-card-2 {
    background-color: #f79422;
    border-bottom-color: darken(#f79422,10%);
  }
  .trivia-question-card-3 {
    background-color: #8dc641;
    border-bottom-color: darken(#8dc641,10%);
  }
  .trivia-question-card-4 {
    background-color: #b9529f;
    border-bottom-color: darken(#b9529f,10%);
  }
  .trivia-question-card-5 {
    background-color: #ec2028;
    border-bottom-color: darken(#ec2028,10%);
  }

  .question-content {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #4d4d4d;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    line-height: 18px;

    @media (min-width: 768px) {
      font-size: 18px;
    }
  }
}

.answer-content {
  background: #a5a5a5;
  padding: 15px 10px;
  text-align: center;
  font-size: 13px;
  color: #fff;
  border-radius: 5px;
  line-height: 16px;
  border-bottom: 2px solid #7c7c7c;
  cursor: pointer;
  text-transform: uppercase;

  @media (min-width: 768px) {
      font-size: 15px;
    }

  &:hover {
    background: #7c7c7c;
    border-bottom-color: darken(#7c7c7c, 10%);
  }

  .icon-checkmark,
  .icon-cross {
    opacity: 0;
    position: absolute;
    right: 15px;
  }

  &.answer-correct {
    background-color: $primary-color-light;
    border-bottom-color: darken($primary-color-light, 10%);

    .icon-checkmark {
      color: darken($primary-color-light, 10%);
      opacity: 1;
    }
  }

  &.answer-wrong {
    background-color: #D91E18;
    border-bottom-color: darken(#D91E18, 10%);

    .icon-cross {
      color: #ab1813;
      opacity: 1;
    }
  }
}

#trivia-end-page,
#share-badge-page {

  .action-btns-wrapper {
    margin-top: 20px;

    .next-level-wrapper {
      padding-left: 0;
    }

    .action-btn {
      padding-top: 7px;
      color: #fff;
      font-size: 18px;
      font-weight: 200;
      background-color: $primary-color-light;
      width: 100%;
      text-transform: uppercase;
      border: none;
      border-radius: 5px;
      border-bottom: 3px solid darken($primary-color-light, 10%);
      padding-bottom: 7px;
    }

    .share-btn {
      font-size: 16px;
      padding-top: 8px;
    }

    .goto-app-link {
      display: block;
      text-decoration: none;
      text-align: center;
    }
  }
  .passport-container {
    margin-top: 20px;
    
    img{
      max-width: 100%;
    }
  }
}

/*---------------------------------------------*/
/*  PASSPORT PAGE
/*---------------------------------------------*/

.passport-group .action-btn {
  padding-top: 7px;
  color: #fff;
  font-size: 18px;
  font-weight: 200;
  background-color: $primary-color-light;
  width: 100%;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  border-bottom: 3px solid darken($primary-color-light, 10%);
  padding-bottom: 7px;
  display: block;
  text-decoration: none;
  text-align: center;
}

.passport-item {
  
  h2 {
    text-align: center;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: bold;
    text-transform: uppercase;
  }
  p {
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .content-card {
    margin-top: 10px;
  }

  .action-btns-wrapper {
    margin-top: 20px;
    margin-bottom: 10px;
  }
}

.passport-listen {
  color: #3954a5;
}
.passport-believe {
  color: #f79422;
}
.passport-protect {
  color: #8dc641;
}
.passport-include {
  color: #b9529f;
}
.passport-speak {
  color: #ec2028;
}

#passport-page {

  .intro-text {
    margin-top: 20px;

    p {
      font-size: 18px;
      text-align: center;

      @media  (min-width: 768px) {
        margin-top: 40px;
      }
    }
    strong {
      text-transform: uppercase;
    }

    @media  (min-width: 768px) {
      margin-top: 40px;
    }
  }

  .action-btns-wrapper {
    margin-top: 20px;
    margin-bottom: 10px;

    @media  (min-width: 768px) {
      margin-top: 40px;
    }
  }
}

#passport-create-page {
  background-color: #172e55;
  background-image: none;

  .container {
    background-color: #172e55;
  }

  h2, h3 {
    text-transform: uppercase;
    text-align: center;
    color: #f4b159;
    font-weight: bold;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 24px;
  }
  .logo-container img {
    max-width: 100%;
  }
  
  .action-btns-wrapper {
    margin-top: 20px;
    margin-bottom: 10px;
  }
}

#passport-share-page {
  padding-top: 0;
  background-color: #172e55;
  background-image: none;
  color: #f4b159;

  .container {
    background-color: #172e55;
  }

  .user-container {
    margin-top: 10px;

    img {
      max-width: 100%;
      border: 3px solid #fff;
    }
  }

  h1, h2 {
    text-transform: uppercase;
    font-weight: bold;
  }

  h1 {
    font-size: 34px;
  }

  h2 {
    font-size: 30px;
  }

  small {
    display: block;
    font-size: 12px;
    line-height: 14px;
    margin-top: 20px;
  }

  .action-btns-wrapper {
    margin-top: 40px;
  }

  .share-wrapper {
    padding-left: 0;
  }
}