<div id="home-page">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center logo-container">
        <img src="images/logo-xs.png" width="250" height="250">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 text-center">
        <a ng-click="login()" class="option-btn login-fb" ng-show="connectionChecked">Entrar con facebook</a>
        <img src="images/loader.gif" ng-hide="connectionChecked" alt="Loading..." width="48px">
        <p class="status-info">Verificando Conexión</p>
        <!-- <a href="#/menu" class="option-btn login-tw">Entrar con twitter</a> -->
      </div>
    </div>
    {{welcomeMsg}}
  </div>
</div>
<div id="decorator"></div>