<div id="passport-protect-page" class="page-wrapper passport-group passport-item passport-protect">
  <div class="container intro-text">
    <div class="row">
      <div class="col-xs-12 text-center">
        <div class="content-card">
          <h2>Proteger</h2>
          <p>Protegerlos cuando su derecho al buentrato no es respetado.</p>
          <p>Protegerlos porque también depende de ti que las cosas sean diferentes.</p>
        </div>
        <div class="content-card">
          <h2>Protect</h2>
          <p>Protect them when their right to be treated well is not respected.</p>
          <p>Protect them because for things to be different you must do your part.</p>
        </div>
        <div class="content-card">
          <h2>Proteger</h2>
          <p>Protegê-los quando o direito ao bom trato não é respeitado.</p>
          <p>Protegê-los pois para que as coisas sejam diferentes você tem que fazer a sua parte.</p>
        </div>
      </div>
      <div class="col-xs-12 action-btns-wrapper">
        <a ng-href="#/passport/include" class="action-btn">Siguiente &raquo;</a>
      </div>
    </div>
  </div>
</div>