<div id="passport-believe-page" class="page-wrapper passport-group passport-item passport-believe">
  <div class="container intro-text">
    <div class="row">
      <div class="col-xs-12 text-center">
        <div class="content-card">
          <h2>Creer</h2>
          <p>Creerles cuando hablan de asuntos que los afectan.</p>
          <p>Creerles especialmente cuando hablan de maltrato.</p>
        </div>
        <div class="content-card">
          <h2>Believe them</h2>
          <p>Believe children and adolescents when they talk to you about how situations affect them.</p>
          <p>Believe them especially when they talk to you about mistreatment.</p>
        </div>
        <div class="content-card">
          <h2>Acreditar</h2>
          <p>Acreditar quando falam de assuntos que os afetam.</p>
          <p>Acreditar especialmente quando falam de maltrato.</p>
        </div>
      </div>
      <div class="col-xs-12 action-btns-wrapper">
        <a ng-href="#/passport/protect" class="action-btn">Siguiente &raquo;</a>
      </div>
    </div>
  </div>
</div>