<div id="passport-listen-page" class="page-wrapper passport-group passport-item passport-listen">
  <div class="container intro-text">
    <div class="row">
      <div class="col-xs-12 text-center">
        <div class="content-card">
          <h2>Escuchar</h2>
          <p>Escucharlos con toda atención.</p>
          <p>Escucharlos sin juzgar ni criticar.</p>
        </div>
        <div class="content-card">
          <h2>Listen</h2>
          <p>Listen to children and adolescents and give them your full attention.</p>
          <p>Listen to them without judging or criticizing.</p>
        </div>
        <div class="content-card">
          <h2>Escutar</h2>
          <p>Escutá-los com toda atenção.</p>
          <p>Escutá-los sem julgamento ou crítica.</p>
        </div>
      </div>
      <div class="col-xs-12 action-btns-wrapper">
        <a ng-href="#/passport/believe" class="action-btn">Siguiente &raquo;</a>
      </div>
    </div>
  </div>
</div>