<div id="passport-include-page" class="page-wrapper passport-group passport-item passport-include">
  <div class="container intro-text">
    <div class="row">
      <div class="col-sm-10 col-md-6 col-md-offset-3 col-sm-offset-1 text-center">
        <div class="content-card">
          <h2>Incluir</h2>
          <p>Incluir en especial a aquellos niños, niñas y adolescentes que tienen alguna discapacidad y sufren discriminación en el ámbito familiar, institucional o en la vía pública.</p>
        </div>
        <div class="content-card">
          <h2>Include</h2>
          <p>Include them, especially those children and adolescents who have disabilities and who experience discrimination within their families, within institutions and in public spaces.</p>
        </div>
        <div class="content-card">
          <h2>Incluir</h2>
          <p>Incluir especialmente aqueles que têm alguma deficiência e vivem discriminados no âmbito familiar, institucional ou em espaços públicos.</p>
        </div>
      </div>
      <div class="col-sm-10 col-md-6 col-md-offset-3 col-sm-offset-1 action-btns-wrapper">
        <a ng-href="#!/passport/speak-up" class="action-btn">Siguiente &raquo;</a>
      </div>
    </div>
  </div>
</div>
