<div id="passport-page" class="page-wrapper">
  <div class="container intro-text">
    <p>Estamos construyendo un país libre de maltrato. </p>
    <p>Desde el año 2003, adolescentes y jóvenes enfrentan el maltrato a la niñez a través de campañas de sensibilización como «Un Trato por el Buentrato».</p>
    <p>Muestra tu apoyo conociendo más sobre este esfuerzo y compártelo a tus amigos en las redes sociales.</p>
    <p>A continucación aprenderás a ser parte del buen trato hacia los niños, niñas y adolescentes y podrás compartir tu pasaporte del buentrato.</p>
  </div>
</div>