<div id="speak-page" class="page-wrapper">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="#/menu" class="navbar-brand">&larr;</a>
        <p class="navbar-text navbar-title text-center">¡Denuncia el maltrato!</p>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="row content-card country-card">
      <div class="col-xs-5 country-meta-info  text-center">
        <img class="text-center" ng-src="images/flag-uy.png" alt="Uruguay">
        <h4 class="country-name">Uruguay</h4>
      </div>
      <div class="col-xs-7 text-center country-meta-org">
        <h5 class="org-name">Línea Azul</h5>
        <h5 class="phone-number">+598 0800 5050</h5>
      </div>
    </div>
    <table class="phone-directory">
      <tr class="country-item" ng-repeat="contact in contacts" ng-hide="$index === 0">
        <td>
          <table class="country-info">
            <tr>
              <td class="country-flag"><img ng-src="images/ignore/flag-{{contact.countryCode}}.png" alt="El Salvador"></td>
              <td class="country-name">{{contact.countryName}}</td>
              <td class="phone-number">+{{contact.phoneCode}} {{contact.organizationNumber}}</td>
            </tr>
            <tr>
              <td></td>
              <td class="organization-name" colspan="2">{{contact.organizationName}}</td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
</div>