<div id="speak-page">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="#/menu" class="navbar-brand">&larr;</a>
        <p class="navbar-text navbar-title text-center">¡Denuncia el maltrato!</p>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="row content-card country-card">
      <div class="col-xs-5 country-meta-info  text-center">
        <img class="text-center" ng-src="images/flag-sv.png" alt="El Salvador">
        <h4 class="country-name">El Salvador</h4>
      </div>
      <div class="col-xs-7 text-center country-meta-org">
        <h5 class="org-name">Protección al menor</h5>
        <h5 class="phone-number">+503 2255 1089</h5>
      </div>
    </div>
    <div class="row content-card country-card">
      <div class="col-xs-5 country-meta-info  text-center">
        <img class="text-center" ng-src="images/flag-sv.png" alt="El Salvador">
        <h4 class="country-name">El Salvador</h4>
      </div>
      <div class="col-xs-7 text-center country-meta-org">
        <h5 class="org-name">Protección al menor</h5>
        <h5 class="phone-number">+503 2255 1089</h5>
      </div>
    </div>
    <div class="row content-card country-card">
      <div class="col-xs-5 country-meta-info  text-center">
        <img class="text-center" ng-src="images/flag-sv.png" alt="El Salvador">
        <h4 class="country-name">El Salvador</h4>
      </div>
      <div class="col-xs-7 text-center country-meta-org">
        <h5 class="org-name">Protección al menor</h5>
        <h5 class="phone-number">+503 2255 1089</h5>
      </div>
    </div>
    <div class="row content-card country-card">
      <div class="col-xs-5 country-meta-info  text-center">
        <img class="text-center" ng-src="images/flag-sv.png" alt="El Salvador">
        <h4 class="country-name">El Salvador</h4>
      </div>
      <div class="col-xs-7 text-center country-meta-org">
        <h5 class="org-name">Protección al menor</h5>
        <h5 class="phone-number">+503 2255 1089</h5>
      </div>
    </div>
    <div class="row content-card country-card">
      <div class="col-xs-5 country-meta-info  text-center">
        <img class="text-center" ng-src="images/flag-sv.png" alt="El Salvador">
        <h4 class="country-name">El Salvador</h4>
      </div>
      <div class="col-xs-7 text-center country-meta-org">
        <h5 class="org-name">Protección al menor</h5>
        <h5 class="phone-number">+503 2255 1089</h5>
      </div>
    </div>
    <div class="row content-card country-card">
      <div class="col-xs-5 country-meta-info  text-center">
        <img class="text-center" ng-src="images/flag-sv.png" alt="El Salvador">
        <h4 class="country-name">El Salvador</h4>
      </div>
      <div class="col-xs-7 text-center country-meta-org">
        <h5 class="org-name">Protección al menor</h5>
        <h5 class="phone-number">+503 2255 1089</h5>
      </div>
    </div>

    <table class="phone-directory">
      <tr class="country-item">
        <td>
          <table class="country-info">
            <tr>
              <td class="country-flag"><img ng-src="images/flag-ar.png" alt="El Salvador"></td>
              <td class="country-name">Argentina</td>
              <td class="phone-number">+54 102</td>
            </tr>
            <tr>
              <td></td>
              <td class="organization-name">Gobierno Línea de Urgencia</td>
              <td></td>
            </tr>
          </table>
        </td>
      </tr>
      <tr class="country-item">
        <td>
          <table class="country-info">
            <tr>
              <td class="country-flag"><img ng-src="images/flag-ar.png" alt="El Salvador"></td>
              <td class="country-name">Argentina</td>
              <td class="phone-number">+54 102</td>
            </tr>
            <tr>
              <td></td>
              <td class="organization-name">Gobierno Línea de Urgencia</td>
              <td></td>
            </tr>
          </table>
        </td>
      </tr>
      <tr class="country-item">
        <td>
          <table class="country-info">
            <tr>
              <td class="country-flag"><img ng-src="images/flag-ar.png" alt="El Salvador"></td>
              <td class="country-name">Argentina</td>
              <td class="phone-number">+54 102</td>
            </tr>
            <tr>
              <td></td>
              <td class="organization-name">Gobierno Línea de Urgencia</td>
              <td></td>
            </tr>
          </table>
        </td>
      </tr>
      <tr class="country-item">
        <td>
          <table class="country-info">
            <tr>
              <td class="country-flag"><img ng-src="images/flag-ar.png" alt="El Salvador"></td>
              <td class="country-name">Argentina</td>
              <td class="phone-number">+54 102</td>
            </tr>
            <tr>
              <td></td>
              <td class="organization-name">Gobierno Línea de Urgencia</td>
              <td></td>
            </tr>
          </table>
        </td>
      </tr>
      <tr class="country-item">
        <td>
          <table class="country-info">
            <tr>
              <td class="country-flag"><img ng-src="images/flag-ar.png" alt="El Salvador"></td>
              <td class="country-name">Argentina</td>
              <td class="phone-number">+54 102</td>
            </tr>
            <tr>
              <td></td>
              <td class="organization-name">Gobierno Línea de Urgencia</td>
              <td></td>
            </tr>
          </table>
        </td>
      </tr>
      <tr class="country-item">
        <td>
          <table class="country-info">
            <tr>
              <td class="country-flag"><img ng-src="images/flag-ar.png" alt="El Salvador"></td>
              <td class="country-name">Argentina</td>
              <td class="phone-number">+54 102</td>
            </tr>
            <tr>
              <td></td>
              <td class="organization-name">Gobierno Línea de Urgencia</td>
              <td></td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
</div>