<div id="trivia-page" class="page-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <a class="trivia-card" ng-click="goToTrivia($index, '/trivia/{{triviaItem.level}}/{{triviaItem.slug}}')" ng-repeat="triviaItem in triviaList">
          <div class="row content-card trivia-level-card trivia-card-level-{{triviaItem.level}}">
            <div class="col-xs-8 col-xs-offset-4 trivia-level-title">
              <h4>{{triviaItem.title}}</h4>
            </div>
            <p ng-show="checkPrevious($index)" class="trivia-btn go-to-trivia-page">Nivel {{triviaItem.level}} &rarr;</p>
            <p ng-hide="checkPrevious($index)" class="trivia-btn">Completa el Nivel {{$index}}</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>